<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamantmc.a3goodthingsdiary">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DayView"
            android:label="3 Good Things Diary"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamantmc.a3goodthingsdiary.MainActivity" />
        </activity>

        <activity
            android:name=".DayEdit"
            android:label="3 Good Things Diary"
            android:parentActivityName=".DayView">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adamantmc.a3goodthingsdiary.MainActivity" />
        </activity>

    </application>

</manifest>